/* h1::before {
	content: '# ';
}

h2::before {
	content: '## ';
}

h3::before {
	content: '### ';
}

h4::before {
	content: '#### ';
}

h5::before {
	content: '##### ';
}

h6::before {
	content: '###### ';
} */

pre {
	width: fit-content;
}

.katex-display {
	width: fit-content;
}

* {
	font-family: "Fira Code"
}

@font-face {
	font-family: "Fira Code";
	src: url('/FiraCode.ttf');
}


/* code {
	border-radius: 2px;
	background: lightgray
}

pre > code {
	background: transparent;
} */